<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="OtelRezervasyonDBEntities" connectionString="metadata=res://*/OtelRezervasyonModel.csdl|res://*/OtelRezervasyonModel.ssdl|res://*/OtelRezervasyonModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msserver14.database.windows.net;initial catalog=OtelRezervasyonDB;user id=dadasturizm;password=Alaf9292;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OtelRezervasyonDBEntities1" connectionString="metadata=res://*/DadasModel.csdl|res://*/DadasModel.ssdl|res://*/DadasModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msserver14.database.windows.net;initial catalog=OtelRezervasyonDB;user id=dadasturizm;password=Alaf9292;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="OtelRezervasyonDBEntities2" connectionString="metadata=res://*/DadasHotelDBModel.csdl|res://*/DadasHotelDBModel.ssdl|res://*/DadasHotelDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msserver14.database.windows.net;initial catalog=OtelRezervasyonDB;persist security info=True;user id=dadasturizm;password=Alaf9292;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DadasDB" connectionString="metadata=res://*/DadasDBModel.csdl|res://*/DadasDBModel.ssdl|res://*/DadasDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msserver14.database.windows.net;initial catalog=OtelRezervasyonDB;user id=dadasturizm;password=Alaf9292;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DadasDBEntities" connectionString="metadata=res://*/DadasDBModel.csdl|res://*/DadasDBModel.ssdl|res://*/DadasDBModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=msserver14.database.windows.net;initial catalog=OtelRezervasyonDB;user id=dadasturizm;password=Alaf9292;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DadasDBEntities1" connectionString="data source=(LocalDb)\MSSQLLocalDB;initial catalog=OtelRezervasyon_DadasTurizm.DadasDB.DadasDBEntities;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>